#banner {
    &.banner {
        position: relative;
        border-top: 2px solid $primary;
        border-bottom: 2px solid $primary;
        padding: calc(clamp(2rem, 1.5385rem + 2.0513vw, 4rem) + 0.6vw) 0;
        background-color: $background--dark;
        .banner__content--top,
        .banner__content--bottom {
            margin-bottom: 0;
            position: absolute;
            display: flex;
            gap: 1rem;
            flex-wrap: nowrap;
            span {
                font-size: clamp(2rem, 1.5385rem + 2.0513vw, 4rem);
                line-height: $line_height;
                white-space: nowrap;
            }
        }
        .banner__content--top {
            left: -50vw;
            top: 0;
            span {
                &:nth-child(odd) {
                    color: $primary;
                    &:hover {
                        color: $primary--hover;
                    }
                }
                &:nth-child(even) {
                    color: $text--standard;
                    &:hover {
                        color: $text--light;
                    }
                }
            }
        }
        .banner__content--bottom {
            right: -50vw;
            bottom: 0;
            span {
                &:nth-child(odd) {
                    color: $text--standard;
                    &:hover {
                        color: $text--light;
                    }
                }
                &:nth-child(even) {
                    color: $primary;
                    &:hover {
                        color: $primary--hover;
                    }
                }
            }
        }
        @media screen and (max-width: $breakpoints-sm) {
            padding: calc(clamp(2rem, 1.5385rem + 2.0513vw, 4rem) / 1.5) 0;
            .banner__content--top {
                left: -100vw;
            }
        }
    }
}
