#nav {
    position: fixed;
    z-index: 10;
    padding: clamp(24px, 1.65vw, 1.65vw) clamp(48px, 3.3vw, 3.3vw);
    width: 100%;
    height: calc(clamp(48px, 3.3vw, 3.3vw) + 32px);
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-transform: uppercase;
    background-color: $c2-light;
    border-bottom: 1px solid $c2-dark;

    &.is-active {
        border-bottom: none;
    }

    .logo-icon {
        position: absolute;
        left: clamp(24px, 3.3vw, 3.3vw);
        top: clamp(24px, 1.65vw, 1.65vw);
        height: 32px;
        width: fit-content;
        transition: all $length-transition + s;
        fill: $text-standard;
        &:hover {
            transform: scale(1.2);
            fill: $c1-standard;
        }
    }

    .nav__list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0 32px;
        cursor: pointer;
        &--item {
            position: relative;
            &:before {
                content: '';
                position: absolute;
                background: $c1-standard;
                width: 0;
                height: 2px;
                top: 100%;
                transform: translate(0%, 0%);
                transition: all $length-transition + s ease;
                z-index: -1;
            }
            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }
    }

    .hamburger-icon {
        position: absolute;
        right: clamp(24px, 3.3vw, 3.3vw);
        top: clamp(24px, 1.65vw, 1.65vw);
        margin: -23px -22px 0 0;
        transition: all 0.5s;
        stroke: $text-standard;
        &:hover {
            transform: scale(1.2);
            stroke: $c1-standard;
        }
    }

    .contact {
        position: absolute;
        right: clamp(24px, 3.3vw, 3.3vw);
        top: clamp(24px, 1.65vw, 1.65vw);
        height: 32px;
        display: none;
        align-items: center;
        justify-content: center;
    }
}

.nav-mobile {
    z-index: 5;
    .nav-mobile__content {
        position: fixed;
        top: 50%;
        transform: translate(0%, -50%);
        width: 100%;
        text-align: center;
        font-size: calc(2vw + 10px);
        font-weight: 200;
        cursor: pointer;
        visibility: hidden;
        .nav-mobile__list {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 16px 0;
            cursor: pointer;
            &--item {
                position: relative;
                opacity: 0;
                &:before {
                    content: '';
                    position: absolute;
                    background: $c1-standard;
                    width: 0;
                    height: 2px;
                    top: 100%;
                    transform: translate(0%, 0%);
                    transition: all 0.3s ease;
                    z-index: -1;
                }
                &:hover {
                    &:before {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.nav-mobile.is-active {
    $menu--items--count: 5;
    .nav-mobile__content {
        visibility: visible;
        .nav-mobile__list {
            &--item {
                opacity: 1;
                transform: translateX(0%);
                transition: opacity 0.3s ease, transform 0.3s ease,
                    color 0.3s ease;
                @for $i from 0 through $menu--items--count {
                    &:nth-child(#{$i}) {
                        transition-delay: calc(
                                $length-transition * $i / 8 + 0.5
                            ) +
                            s;
                    }
                }
            }
        }
    }
}

.hamburger-icon {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &.is-active {
        transform: rotate(45deg);
        .line {
            &.top {
                stroke-dashoffset: -64px;
            }
            &.middle {
                transform: rotate(90deg);
            }
            &.bottom {
                stroke-dashoffset: -64px;
            }
        }
    }
    .line {
        fill: none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke-width: 5.5;
        stroke-linecap: round;
        &.top {
            stroke-dasharray: 40 160;
        }
        &.middle {
            stroke-dasharray: 40 142;
            transform-origin: 50%;
            transition: transform 400ms;
        }
        &.bottom {
            stroke-dasharray: 40 85;
            transform-origin: 50%;
            transition: transform 400ms, stroke-dashoffset 400ms;
        }
    }
}
