#home {
    .canvas {
        canvas {
            @supports (height: 100dvh) {
                height: 100dvh !important;
            }

            @supports not (height: 100dvh) {
                height: 100vh !important;
            }
        }
    }
    @media screen and (max-width: $breakpoints-md) {
        .canvas {
            pointer-events: none !important;
        }
    }
}
