#root {
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(#e8e8e8 2px, transparent 2px);
    background-position: center top;
    background-size: 48px 48px;
    background-color: #ffffff;
    overflow-x: hidden;
}
