#header {
    position: fixed;
    z-index: $z_positive;
    padding: clamp(1.5rem, 1.65vw, 1.65vw) clamp(3rem, 3.3vw, 3.3vw);
    width: 100%;
    height: calc(clamp(3rem, 3.3vw, 3.3vw) + 2rem);
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-transform: uppercase;
    background: $background;
    background: linear-gradient(
        0deg,
        rgba(251, 251, 251, 0) 0%,
        rgba(251, 251, 251, 1) 20%,
        rgba(251, 251, 251, 1) 100%
    );

    .logo-icon {
        position: absolute;
        left: clamp(1.5rem, 3.3vw, 3.3vw);
        top: clamp(1.5rem, 1.65vw, 1.65vw);
        height: 2rem;
        width: fit-content;
        transition: all $length-transition + s;
        fill: $text--standard;
        &:hover {
            transform: scale(1.2);
            fill: $primary--hover;
        }
    }

    .hamburger-icon {
        position: absolute;
        right: clamp(1.5rem, 3.3vw, 3.3vw);
        top: clamp(1.5rem, 1.65vw, 1.65vw);
        margin: -23px -22px 0 0;
        transition: all 0.5s;
        stroke: $text--standard;
        &:hover {
            transform: scale(1.2);
            stroke: $primary--hover;
        }
    }
}

.nav {
    z-index: 5 !important;
    #nav.nav__content {
        position: fixed;
        top: 50%;
        transform: translate(0%, -50%);
        width: 100%;
        text-align: center;
        font-size: clamp(2rem, 1.5385rem + 2.0513vw, 4rem);
        line-height: 1.33;
        font-weight: 200;
        cursor: pointer;
        visibility: hidden;
        .btn {
            margin-top: 5rem;
            opacity: 0;
            transition: all 0.3s ease;
            font-size: clamp(2rem, 1.5385rem + 2.0513vw, 4rem);
        }
        .nav__list {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem 0;
            cursor: pointer;
            &--item {
                position: relative;
                opacity: 0;
                &:before {
                    content: '';
                    position: absolute;
                    background: $primary--hover;
                    width: 0;
                    height: 0.125rem;
                    top: 100%;
                    transform: translate(0%, 0%);
                    transition: all 0.3s ease;
                    z-index: -1;
                }
                &:hover {
                    &:before {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.nav.is-active {
    $menu--items--count: 5;
    #nav.nav__content {
        visibility: visible;
        .btn {
            opacity: 1;
            transform: translateX(0%);
            transition: opacity 0.3s ease, transform 0.3s ease;
            transition-delay: 0.5s;
        }
        .nav__list {
            &--item {
                opacity: 1;
                transform: translateX(0%);
                transition: opacity 0.3s ease, transform 0.3s ease,
                    color 0.3s ease;
                @for $i from 0 through $menu--items--count {
                    &:nth-child(#{$i}) {
                        transition-delay: calc(
                                $length-transition * $i / 8 + 0.5
                            ) +
                            s;
                    }
                }
                a {
                    text-decoration: none !important;
                    color: $text--standard;
                }
            }
        }
    }
}

.hamburger-icon {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &.is-active {
        transform: rotate(45deg);
        .line {
            &.top {
                stroke-dashoffset: -64px;
            }
            &.middle {
                transform: rotate(90deg);
            }
            &.bottom {
                stroke-dashoffset: -64px;
            }
        }
    }
    .line {
        fill: none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke-width: 5.5;
        stroke-linecap: round;
        &.top {
            stroke-dasharray: 40 160;
        }
        &.middle {
            stroke-dasharray: 40 142;
            transform-origin: 50%;
            transition: transform 400ms;
        }
        &.bottom {
            stroke-dasharray: 40 85;
            transform-origin: 50%;
            transition: transform 400ms, stroke-dashoffset 400ms;
        }
    }
}
