#home {
    width: 100vw;
    height: 100vh;
    position: relative;

    h1 {
        z-index: 1;
        font-size: 10rem;
        line-height: 0.9;
        text-transform: uppercase;
        color: rgb(0 138 138 / 80%);
        span {
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            z-index: 1;
            color: rgb(0 138 138 / 80%);
            white-space: nowrap;
            &:nth-child(1) {
                top: calc(55% - 10rem * 0.9);
            }
            &:nth-child(2) {
                top: 55%;
                left: inherit;
                right: 30%;
                transform: translate(0, -50%);
            }
            &:nth-child(3) {
                top: calc(55% + 10rem * 0.9);
            }
        }
    }

    .social {
        position: absolute;
        z-index: 1;
        display: flex;
        align-items: self-end;
        gap: 2rem;
        left: clamp(24px, 3.3vw, 3.3vw);
        bottom: clamp(24px, 1.65vw, 1.65vw);
        &__items {
            font-size: clamp(1.75rem, 1.3462rem + 1.7949vw, 3.5rem);
            line-height: 1.33;
            a {
                text-shadow: 0 2px 8px $background;
                &:hover {
                    text-shadow: none;
                }
            }
        }
    }
    .scroll-icon {
        position: absolute;
        filter: drop-shadow(0 2px 8px $background);
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 0.5rem;
        right: clamp(24px, 3.3vw, 3.3vw);
        bottom: clamp(24px, 1.65vw, 1.65vw);
        background: none;

        .scroll-icon__container {
            display: block;
            position: relative;
            height: 5em;
            width: 2.5rem;
            border: 0.25em solid $text--standard;
            border-radius: 999px;

            .scroll-icon__dot {
                display: block;
                position: absolute;
                left: 50%;
                background: $text--standard;
                height: 1em;
                width: 0.5em;
                top: 0.6em;
                margin-left: -0.25em;
                border-radius: 999px;
                transform-origin: top center;
                backface-visibility: hidden;
                animation: scroll_event 2s ease-out infinite;
            }
        }
    }

    @keyframes scroll_event {
        0% {
            transform: translateY(0);
            opacity: 1;
        }
        25% {
            opacity: 1;
        }
        75% {
            transform: translateY(0.75em);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 0;
        }
    }

    @media screen and (max-width: $breakpoints-xxxl) {
        h1 {
            span {
                &:nth-child(2) {
                    right: 15%;
                }
            }
        }
    }

    @media screen and (max-width: $breakpoints-xxl) {
        h1 {
            span {
                &:nth-child(2) {
                    right: 15%;
                }
            }
        }
        .social {
            gap: 1.5rem;
        }
    }
    @media screen and (max-width: $breakpoints-xl) {
        h1 {
            font-size: clamp(8.75rem, -0.7143rem + 11.9048vw, 10rem);
            line-height: calc(
                clamp(8.75rem, -0.7143rem + 11.9048vw, 10rem) - 10%
            );
            span {
                &:nth-child(1) {
                    top: calc(
                        55% - clamp(8.75rem, -0.7143rem + 11.9048vw, 10rem) *
                            0.9
                    );
                }
                &:nth-child(3) {
                    top: calc(
                        55% + clamp(8.75rem, -0.7143rem + 11.9048vw, 10rem) *
                            0.9
                    );
                }
            }
        }
        .social {
            gap: 1rem;
        }
    }
    @media screen and (max-width: $breakpoints-lg) {
        h1 {
            font-size: clamp(7.5rem, 2.3387rem + 8.0645vw, 8.75rem);
            line-height: calc(
                clamp(7.5rem, 2.3387rem + 8.0645vw, 8.75rem) - 10%
            );
            span {
                &:nth-child(1) {
                    top: calc(
                        55% - clamp(7.5rem, 2.3387rem + 8.0645vw, 8.75rem) * 0.9
                    );
                }
                &:nth-child(3) {
                    top: calc(
                        55% + clamp(7.5rem, 2.3387rem + 8.0645vw, 8.75rem) * 0.9
                    );
                }
            }
        }
    }
    @media screen and (max-width: $breakpoints-md) {
        h1 {
            font-size: clamp(6.25rem, 2.5rem + 7.8125vw, 7.5rem);
            line-height: calc(clamp(6.25rem, 2.5rem + 7.8125vw, 7.5rem) - 10%);
            span {
                &:nth-child(1) {
                    top: calc(
                        55% - clamp(6.25rem, 2.5rem + 7.8125vw, 7.5rem) * 0.9
                    );
                }
                &:nth-child(3) {
                    top: calc(
                        55% + clamp(6.25rem, 2.5rem + 7.8125vw, 7.5rem) * 0.9
                    );
                }
            }
        }
    }
    @media screen and (max-width: $breakpoints-sm) {
        h1 {
            font-size: clamp(3rem, 0.1324rem + 12.7451vw, 6.25rem);
            line-height: calc(
                clamp(3rem, 0.1324rem + 12.7451vw, 6.25rem) - 10%
            );
            span {
                &:nth-child(1) {
                    top: calc(
                        55% - clamp(3rem, 0.1324rem + 12.7451vw, 6.25rem) * 0.9
                    );
                }
                &:nth-child(3) {
                    top: calc(
                        55% + clamp(3rem, 0.1324rem + 12.7451vw, 6.25rem) * 0.9
                    );
                }
            }
        }
    }
    @media screen and (max-width: $breakpoints-xs) {
    }
}

#about .section__container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    column-gap: clamp(10rem, -20rem + 25vw, 20rem);
    padding: 0 5rem;
    p {
        margin-bottom: 2rem;
    }
    .btn {
        min-width: 150px;
        &:not(:last-child) {
            margin-right: 1rem;
        }
    }
    @media screen and (max-width: $breakpoints-xxxl) {
    }
    @media screen and (max-width: $breakpoints-xxl) {
        padding: 0 3rem;
    }
    @media screen and (max-width: $breakpoints-xl) {
        column-gap: clamp(5rem, -40rem + 50vw, 10rem);
    }
    @media screen and (max-width: $breakpoints-lg) {
        column-gap: 4rem;
        padding: 0;
        align-items: start;
    }
    @media screen and (max-width: $breakpoints-md) {
        padding: 0 clamp(2rem, 3.3vw, 3.3vw);
    }
    @media screen and (max-width: $breakpoints-sm) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        row-gap: 3rem;
    }
    @media screen and (max-width: $breakpoints-xs) {
    }
}

#works .section__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: clamp(2rem, 0rem + 4.1667vw, 5rem);
    @media screen and (max-width: $breakpoints-xxxl) {
    }
    @media screen and (max-width: $breakpoints-xxl) {
    }
    @media screen and (max-width: $breakpoints-xl) {
    }
    @media screen and (max-width: $breakpoints-lg) {
    }
    @media screen and (max-width: $breakpoints-md) {
    }
    @media screen and (max-width: $breakpoints-sm) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        row-gap: 3rem;
    }
    @media screen and (max-width: $breakpoints-xs) {
    }
}
