.btn {
    display: inline-flex;
    background: $primary;
    color: $text--standard;
    border: 2px solid $primary;
    padding: clamp(0.75rem, 0.6923rem + 0.2564vw, 1rem)
        clamp(1rem, 0.7692rem + 1.0256vw, 2rem);
    border-radius: 0.5rem;
    justify-content: center;
    transition: all $length-transition + s;
    width: fit-content;
    font-size: clamp(0.875rem, 0.7308rem + 0.641vw, 1.5rem);
    line-height: 1.33;

    &--outline {
        background: transparent;
        border: 2px solid $primary;
        &:hover {
            border: 2px solid $text--standard;
            transition: all $length-transition + s;
            background: transparent !important;
            color: $text--standard !important;
        }
    }

    &:hover {
        border: 2px solid $text--standard;
        background: $primary--hover;
        color: $background;
        transition: all $length-transition + s;
    }
}
