/* =============== VARIABLES CSS =============== */

/* ========== Variables :root ========== */
:root {
    --breakpoints-xs: 400px;
    --breakpoints-sm: 768px;
    --breakpoints-md: 1024px;
    --breakpoints-lg: 1272px;
    --breakpoints-xl: 1440px;
    --breakpoints-xxl: 1600px;
    --breakpoints-xxxl: 1920px;

    --container-xs: 328px;
    --container-sm: 744px;
    --container-md: 928px;
    --container-lg: 1128px;
    --container-xl: 1312px;
    --container-xxl: 1408px;
    --container-xxxl: 1688px;

    --primary: #008c8c;
    --primary--hover: #007e7e;

    --text--standard: #0f1214;
    --text--light: #252b2e;
    --text--white: #fbfbfb;

    --background: #fbfbfb;
    --background--dark: #e6e6e6;

    --success: #009e15;

    --m-8: 0.78125rem;
    --m-16: 1.5625rem;
    --m-32: 3.125rem;

    --p-8: 0.78125rem;
    --p-16: 1.5625rem;
    --p-32: 3.125rem;

    --z_negative: -1;
    --z_zero: 0;
    --z_default: 1;
    --z_5: 5;
    --z_positive: 10;
    --z_error: 999;

    --line_height: 1.33;
    --weight_standard: 400;
    --weight_bold: 700;
}

/* ========== Breakpoints and containers ========== */
$breakpoints-xs: 400px;
$breakpoints-sm: 768px;
$breakpoints-md: 1024px;
$breakpoints-lg: 1272px;
$breakpoints-xl: 1440px;
$breakpoints-xxl: 1600px;
$breakpoints-xxxl: 1920px;

$container-xs: var(--container-xs);
$container-sm: var(--container-sm);
$container-md: var(--container-md);
$container-lg: var(--container-lg);
$container-xl: var(--container-xl);
$container-xxl: var(--container-xxl);
$container-xxxl: var(--container-xxxl);

/* ========== Colors ========== */
$primary: var(--primary);
$primary--hover: var(--primary--hover);

$text--standard: var(--text--standard);
$text--light: var(--text--light);
$text--white: var(--text--white);

$background: var(--background);
$background--dark: var(--background--dark);

$success: var(--success);

$length-transition: 0.4;

/* ========== Font and typography ========== */

/* Units */
/* REM unit : 1rem = 16px */

$m-8: var(--m-8);
$m-16: var(--m-16);
$m-32: var(--m-32);

$p-8: var(--p-8);
$p-16: var(--p-16);
$p-32: var(--p-32);

$line_height: var(--line_height);
$weight_standard: var(--weight_standard);
$weight_bold: var(--weight_bold);

/* ========== z index ========== */
$z_negative: var(--z_negative);
$z_zero: var(--z_zero);
$z_default: var(--z_default);
$z_5: var(--z_5);
$z_positive: var(--z_positive);
$z_error: var(--z_error);
